* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
	line-height: 1;
	margin:0;
	padding-top: 20px;
	font: Montserrat, sans-serif;

}

/*ul, li {
	margin: 0;
	padding: 0;
	list-style: none; 
}*/

.slider {
	overflow: hidden;
	width: 100%;
	margin: auto;
		}


.slider ul {
	display: flex;
	width: 400%;
	animation: cambio 20s infinite;
			}

.slider li{
	width: 100%;
			}

.slider img{
	width: 100%;
			}



@keyframes cambio {

	0% { margin-left: 0}
	20% {margin-left: 0 }
	25% {margin-left: -100%	}
	45% {margin-left: -100%}
	50% {margin-left: -200%}
	75% {margin-left: -200%}
	80% {margin-left: -300%}
	100% {margin-left: -300%}
}



.section--title {
	margin-bottom:.25em;
	margin-top: 2em;
				}



a {
	text-decoration: none;
	outline: none;
}

a:hover {
	text-decoration: underline;
}

body {
    font-family: 'Noto Sans JP', sans-serif;	
	background: #f2f2f2;
}

/* * ============================== */
/* * ============ HEADER ========== */
/* * ============================== */



.logo img{
	display: block;
	max-width: 100%;
}


.logo{
	margin: auto;
	max-width:100px;
	max-height: 80px; 
}


.navbar {
	background: #FFCD48;
		display: flex;

	position: sticky;
	top: 0;
}

.navbar a {
	color: #fff;
	display: inline-block;
	padding: 20px;
	text-align: center;
	color: #000;
	transition: .3s ease-out all;
}

.navbar a:hover {
	background: grey;
	color: #fff;
	text-decoration: none;
}

.contenedor .navLink {
    /*border-right: 5px solid #9B9A9A;*/
    list-style: none outside none;
    padding-left: 0px;
    /*padding-right: 5px;*/
    width: 30%;

    float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.contenedor {
	max-width: 1000px;
	width: 90%;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

/* * ============================== */
/* * ===== CONTENEDOR IMAGEN ====== */
/* * ============================== */

.contenedor-imagen {
	height: 90vh;
}

footer .contenedor-imagen img {
	width: 100%;
	height: 100%;
	vertical-align: top;
	object-fit: cover;
	object-position: 0 bottom;
}

/* * ============================== */
/* * ============ MAIN ============ */
/* * ============================== */

main {
	min-height: 100vh;
	padding-top: 20px;
}
}

main .contenido p {
	margin-bottom: 20px;
	line-height: 30px;
	color: blue;
}

main .contenido .titulo {
    font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	padding-top: 40px;
}

main .contenido .fecha {
	font-size: 14px;
	color: #B5B5B5;
}

/* * ============================== */
/* * ============ ASIDE =========== */
/* * ============================== */

aside {
	min-width: 30%;
	margin: 40px 20px 20px 0;
	height: 100%;
	background: #1D2F3D;
	padding: 20px;
	border-radius: 3px;
	position: sticky;
	top:20px;


}

aside .titulo {
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	font-size: 24px;
	margin-bottom: 20px;
	color: #f2f2f2;
}

aside .indice a {
	display: block;
	margin-bottom: 10px;
	color: #FFCD48;
}

/* * ============================== */
/* * ========== FOOTER ============ */
/* * ============================== */



/* * ============================== */
/* * ====== MEDIA QUERIES ========= */
/* * ============================== */
@media screen and (max-width: 900px){
	.navbar .contenedor {
		flex-wrap: wrap;
		margin: 0;
		width: 100%;
	}

	.navbar a {
		width: auto;
		flex: 1;
	}

	.contenedor-imagen {
		height: 50vh;
	}

	main .contenedor {
		flex-direction: column;
	}
}